    /* Custom properties */
    :root{
        --green: #1ABC9C;
        --light-blue-green: #1EA4B6;
        --white: #FFFFFF;
        --black: #23272A;
        --blue: #0E38B5;
        --dark-blue: #2C3E50;
        --light-blue: #1C83C1;
        --light-grey-blue: #3A546D;
        --bordeaux: #BA4B63;
        --beige: #CCB2A3;
}
  
    /* Generics */
    header {
        height: 80px;
        background-color: orange;
    }

    /* Sections */
    .start-bootstrap {
        background-color: var(--green);
    }

    .jumbotron .row > .col-10 {
        min-height: 300px;
    }

    .portfolio {
        background-color: var(--white);
    }

    .title-portfolio .row > .col-4 {
        min-height: 100px;
    }

    .title-portfolio .row > .col-12 {
        min-height: 200px;
    }
