    /* Custom properties */
    :root{
        --green: #1ABC9C;
        --light-blue-green: #1EA4B6;
        --white: #FFFFFF;
        --black: #23272A;
        --blue: #0E38B5;
        --dark-blue: #2C3E50;
        --light-blue: #1C83C1;
        --light-grey-blue: #3A546D;
        --bordeaux: #BA4B63;
        --beige: #CCB2A3;
}
  
    /* Generics */
    header {
        height: 80px;
    }

    footer {
        height: 80px;
        background-color: var(--dark-blue);
    }

    /* Utils */
    .bg-custom-dark-blue {
        background-color: var(--dark-blue);
    }

    .text-custom-dark-blue {
        color: var(--dark-blue);
    }

    .bg-custom-green {
        background-color: var(--green);
    }

    /* Sections */

    /* Jumbotron */
    .start-bootstrap {
        background-color: var(--green);
    }

    /* Section about */
    .about {
        background-color: var(--green);
    }

    /* Section contact  */

    /* .contact::placeholder {
        color: var(--dark-blue);
    } */

    .contact .form-control:focus {
        box-shadow: none;
    }





    .information {
        background-color: var(--blue);
    }

    .information .row > .col-11 {
        min-height: 200px;
    }


    footer .row > .col-3 {
        min-height: 40px;
    }




